*{
    margin: 0;
    padding: 0;
}
#content{
    direction: rtl;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#input1 , #input2 {
    margin: 50px ;
}
#search , #repl{
    width: 400px;
    height: 30px;
    border: 1px solid rgb(179, 205, 216) ;
    color: rgb(41, 41, 149);
    outline: none;
    font-size: 15px;
    margin-top:10px;
}
#repleces{
    margin: 0 50px 50px 0 ;
    padding: 8px;
    width: 400px;
    border: 1px solid rgb(179, 205, 216) ;
    background: rgb(198, 238, 255);
    font-size: 20px;
    cursor: pointer;
    
}
#string{
    width: 500px;
    margin: auto;
    border: 2px solid rgb(69, 199, 255);
    padding: 10px;
    background: rgb(198, 238, 255);
}